<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Virtual Machine Interface</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Virtual Machine</h1>
            <img src="{{ url_for('static', filename='qrcode.png') }}" alt="QR Code" class="qr-code">
        </div>

        <h2>INSTRUCTIONS</h2>
        <p>
            This is a small virtual machine that replicates the behavior of a text editor. The instructions must be
            separated by new lines.<br>
            Some examples of instructions that can be executed are: <br>
        <ul>
            <li>WRITE Hello</li>
            <li>WRITE World!</li>
            <li>UNDO</li>
            <li>Type HELP for more info.</li>
        </ul>
        </p>

        <textarea id="instructions" rows="5" cols="50" placeholder="Enter instructions here..."></textarea>
        <br>
        <button onclick="executeInstructions()">Execute</button>
        <button onclick="downloadPDF()">Download PDF</button>

        <h2>OUTPUT</h2>
        <p>Here is the output, only shows the resulting words</p>
        <div id="output"></div>

        <h2>COMMAND CONTROL</h2>
        <p>Here is the list of commands that are being executed</p>
        <div id="messages"></div>
    </div>

    <script>
        // Create a variable to save all the messages
        var messagesList = [];
        function executeInstructions() {
            const instructionsText = document.getElementById('instructions').value;
            const instructions = instructionsText.split('\n').map(line => line.split(' '));

            fetch('/execute', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ instructions: instructions })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('output').textContent = data.result;
                    messagesList = data.messages;
                    document.getElementById('messages').innerHTML = data.messages.join('<br>');
                })
                .catch(error => {
                    console.error('Error:', error);
                });


        }

        function downloadPDF() {
        // Create a new PDF
        const { jsPDF } = window.jspdf;
        // Create the document
        const doc = new jsPDF(
        );

        // Default text of the PDF
        const defaultText = "Thanks for using our Text Editor. We hope you enjoyed it.\n\nFor more info about the project, visit: \nhttps://github.com/Praisel04/VirtualMachine";

        // Obtain the text of the field with the ID selected
        const outputText = document.getElementById('output').textContent;
        // Replace the BR of the previous fuction with \n
        const messageText = document.getElementById('messages').textContent.replace("<br>", "\n");

        
        
        // Add the Default text to the designated coordinates
        doc.text(defaultText, 10, 20);

        // Add the Output text to the desiganted coordinates
        doc.text("Output:", 10, 60);
        doc.text(outputText, 10, 70);

        // Add the Command Control messages to the designated coordinates
        doc.text("Messages:", 10, 100);
        // Use FOR to print the messages in different Y positions
        for (i in messagesList){
            doc.text(messagesList[i], 10, 110+i*10);
        }
        
        

        // Download the PDF
        doc.save('output.pdf');
        }
    </script>
</body>

</html>